doctype html
html(lang="en", data-ng-app="demo")

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    meta(name='description', content='{{app.description}}')
    meta(name='keywords', content='demo frontend')

    title(data-ng-bind="::pageTitle()") Demo - Frontend
    // Bootstrap styles
    link(rel='stylesheet', href='public/css/bootstrap.css')
    // Application styles
    link(rel='stylesheet', href='public/css/app.css')


  body

    // div(data-preloader) save for loading into dashboard only.  hidden for dev

    .wrapper(data-ui-view="", data-autoscroll='false')

    script(src='public/js/base.js')
    script(src='public/js/app.js')
    //- templates:js
    //- endinject
